<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <h2><a href="/">Our Wonderful App</a></h2>
      <nav><a href="/login">Log In</a></nav>
    </header>
    <main>
      <h3>Welcome to Your Page</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
        architecto quos ut nisi explicabo quia dolore, temporibus, nesciunt
        minima maiores tempora placeat voluptatum? Soluta veniam voluptatum ut
        sapiente aut distinctio.
      </p>
    </main>
    <footer>
      <small>&copy;Our Wonderful App</small>
    </footer>
  </body>
</html>
